.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(160, 160, 149, 0.356);
}
.popup .viewnumber{
    width: 892px;
    height: 670px;
    gap: 10px;
    border-radius: 8px ;
    background: var(--background-color);


}
.viewnumber .content{
 

    padding: 10px;
}
.content .infoCompany{
    height: 188px;
    padding: 12px ;
    border-radius: 6px;
    border: 1px solid  var(--border-color);
    background-color: var(--white);
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.infoCompany .headerInfo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.infoCompany .headerInfo h4{

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;


}
.infoCompany .headerInfo .limitation{
    width: 100px;
    height:28px;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    background: var(--bg-button-color);
    display: flex;
    align-items: center;


}
.headerInfo .limitation span{
    font-family: Neo Sans Arabic;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);




}
.contentInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contentInformation .cardInfo{
    width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.cardInfo p{
    font-family: Neo Sans Arabic;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.74px;
    text-align: center;
    color: var(--text-secondary-color);


}

.cardInfo h5{
    font-family: Neo Sans Arabic;
    font-size: 14px;
    font-weight: 400;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-header-color);

    text-wrap: nowrap;


}


.cardInfo h6{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-wrap: nowrap;
    color: var(--text-header-color);


}
.cardInfo h6 span{
    font-family: Neo Sans Arabic;
    font-size: 14px;
    font-weight: 400;
    text-wrap: nowrap;
    color: var(--text-header-color);


}
.line{
   
    height: 35px;
    width: 1.8px;
    background-color:#DFDFDF;
    border-radius: 3px;
}