<div class="popup">
    <div class="viewnumber">

        <app-headerviewnumber/>

        <div class="content">

            <div class="infoCompany">
                <div class="headerInfo">
                    <h4>012345678910</h4>
                    <div class="limitation">
                        <span>قيد الإستخدام</span>

                    </div>
                </div>
                <div class="contentInformation">
                    <div class="cardInfo">
                        <p>اسم البروتوكول</p>
                        <h5>فودافون مصر</h5>
                    </div>
                     <div class="line"></div>
                    <div class="cardInfo">
                        <p> الدولة</p>
                        <div class="title d-flex align-items-center gap-2" >
                            <img src="Images/flag.png" alt="" width="28px">
                            <h5>المملكة الأردنية الهاشمية</h5>
                        </div>
               
                    </div>
                    <div class="line"></div>

                    <div class="cardInfo">
                        <p> العميل الحالي</p>
                        <div class="title d-flex align-items-center gap-2" >
                            <img src="Images/slogan.png" alt="" width="28px">
                            <h5> الشركة الألمانية للإبادة </h5>
                        </div>
                     </div>
                     <div class="line"></div>

                    <div class="cardInfo">
                        <p>عدد الإمتدادات</p>
                        <h6>09</h6>
                    </div>
                    
                    <div class="cardInfo">
                        <p>تاريخ آخر شحنة </p>
                        <h6>2024/12/29 </h6>
                    </div>
                    <div class="line"></div>

                    <div class="cardInfo">
                        <p>الرصيد الحالي</p>
                        <h6>5000 <span>ج.م </span></h6>
                    </div>
                    <div class="line"></div>

                    <div class="cardInfo">
                        <p>الرصيد المستخدم للعميل الحالي</p>
                        <h6>5000 <span>ج.م </span></h6>
                    </div>
                    <div class="line"></div>

                    <div class="cardInfo">
                        <p>الرصيد المستخدم للرقم ككل</p>
                        <h6>5000 <span>ج.م </span></h6>
                    </div>

                </div>


            </div>
        </div>
 
       


    </div>



</div>