<div class="footer d-flex align-items-center justify-content-between  px-3 mt-2 bg-info">

    <div class="leftSide d-flex align-items-center gap-2">
        <div class="imagesUser">
            <img src="Images/user.png" alt="" width="35">
        </div>
        <div class="infoUser d-flex flex-column gap-2">
            <p>تم الأإنشاء بواسطة</p>
            <h6>عبدالرحيم إسماعيل ناصف</h6>
        </div>
    </div>

    <div class="leftSide d-flex align-items-center gap-2">
    
        <div class="infoUser d-flex flex-column gap-2">
            <p>تاريخ الإنشاء</p>
            <div class="date d-flex align-items-center gap-2">
                <h6>01/12/2024</h6>
                <span class="dots"></span> 
                <h6>4:30 م</h6>

            </div>
        </div>
    </div>


</div>
