
@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$viewNumber-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  @include mat.all-component-themes($viewNumber-theme);
}


@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../public/Fonts/NeoSansArabic.ttf") format("truetype");
}

:root{
    --background-color: #F8F8F8;
    --bg-body:#57575721;
    --white: #fff;
    --text-header-color: #1C1C28;
    --text-secondary-color: #6B7280;
    --bg-button-color: #48B29A;
    --header-table-color: #F4F5F7;
    --border-table-color: #0000001A;
    --button-pagination-color: #3E97FF;
     --bg-icon:#3E97FF1A;
     --text-icon: #3E97FF;
     --buttom-hover: #FF4B55;
     --border-color :#ECF0F5;
  
}
body {
  font-family: "Neo Sans Arabic", sans-serif;
}

ul{
    list-style: none !important;
}

a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
p, h1,h2,h3,h4,h5,h6{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
